/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : dic 26, 2019, 6:30:17 p.m.
    Author     : GaryBarzola
*/

.title{
    -fx-font-size: 20px;
}

.OpSi{
    -fx-text-fill: #333333;
}
.OpSi:hover{
    -fx-cursor: hand;
    -fx-text-fill: #12EB00;
}

.OpNo{
    -fx-text-fill: #333333;
}

.OpNo:hover{
    -fx-cursor: hand;
    -fx-text-fill: #FF0000;
}

.adivinoR{
    -fx-text-fill: #7e0cf5;
}
.adivinoP{
    -fx-text-fill: #333333;
}

.adivinoF{
    -fx-text-fill: #ee4540;
}

.myButton{
    -fx-text-decoration: none;
    -fx-padding: 7px;
    -fx-font-weight: 600;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #32afa9;
    -fx-border-radius: 3px;
    -fx-border-color: #32afa9;
}

.myButton:hover {
    -fx-cursor: hand;
    -fx-text-fill:#32afa9;
    -fx-background-color:ffffff;
}