/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : dic 26, 2019, 6:30:17 p.m.
    Author     : GaryBarzola
*/

.title{
    -fx-font-size: 20px;
}

.OpSi{
    -fx-text-fill: #333333;
}
.OpSi:hover{
    -fx-cursor: hand;
    -fx-text-fill: #12EB00;
}

.OpNo{
    -fx-text-fill: #333333;
}

.OpNo:hover{
    -fx-cursor: hand;
    -fx-text-fill: #FF0000;
}
